<h1>coming soon ...</h1>
<p>Lynn Farmer is the longtime drummer with Meat Beat Manifesto and currently playing with Mojave Phone Booth and The Hip Spanic All Stars. He gives drum lessons in Oakland, CA.</p>
