<section id="introduction" class="section introduction">
  <div class="container">
    <div class="row">
        <div class="intro-content">
          <div class="col-md-3 col-sm-12">
            <h1>gigs</h1>
          </div>
          <div class="col-md-9 col-sm-12">
            <ul>
              <% @gigs.each do |gig| %>
                <li>
                  <strong><%= gig.name %></strong> <i><%= gig.formatted_date %></i>
                  <br><small><%= gig.description %></small>
                  <hr>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>