<section id="introduction" class="section introduction">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="intro-content">
          <h1>Catchy phrase goes here.</h1>
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="intro-content">
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="intro-content">
          <h4>my expertise</h4>
          <ul>
            <li>bullet</li>
            <li>points</li>
            <li>go</li>
            <li>here</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>