<div class="container">
  <div class="col-md-7 banner-inner-wrapper">
    <div class="banner-text">
      <h1>Lynn Farmer, performer and educator.</h1>
      <p>Lynn Farmer is the longtime drummer with Meat Beat Manifesto and currently playing with Mojave Phone Booth and The Hip Spanic All Stars. He gives drum lessons in Oakland, CA.</p>
  </div>
</div>