<header id="header">
  <div class="header-content clearfix">
    <a class="logo" href="#">Lynn Farmer</a>
    <nav class="navigation" role="navigation">
    <ul class="primary-nav">
        <li><a href="#introduction">About Me</a></li>
        <li><a href="#works">Latest Works</a></li>
        <li><a href="#contact">Contact Me</a></li>
      </ul>
    </nav>
    <a href="#" class="nav-toggle">Menu<span></span></a>
  </div>
</header>